1. write a code to find the second largest number in a list of integers after sorting the list:
numbers = [10, 5, 20, 15, 8]

In [1]:
number = [10, 5, 20, 15, 8]
number.sort()
print(number[-2])

15

2. Write a code to find the common elements between two lists of integers:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

In [2]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_element = []
for num in list1:
    if num in list2:
        common_element.append(num)
print(common_element)

[3, 4, 5]

3. write a code to create a new list with only the even numbers from the original list:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
even = []
for num in numbers:
    if num % 2 == 0:
        even.append(num)
print(even)

[2, 4, 6, 8]

4. Create a tuple of even numbers and write Python code to reverse its elements

In [4]:
num = (1,2,3,4,5,6)
print(num[::-1])

(6, 5, 4, 3, 2, 1)

5. Create a tuple of even integers including duplicates and write Python code to create a new
tuple with only the unique elements, removing duplicates

In [5]:
t = (2,4,4,6,8,8,2,2)
new_t = []
for num in t:
    if num not in new_t:
        new_t.append(num)
print(tuple(new_t))

(2, 4, 6, 8)

6. Create a tuple of odd integers including duplicates and write Python code to create a new
tuple with only the unique elements, removing duplicates

In [6]:
t = (1,3,3,3,5,7,9,11,13)
new_t = []
for num in t:
    if num not in new_t:
        new_t.append(num)
print(tuple(new_t))

(1, 3, 5, 7, 9, 11, 13)

7. Create a code to find the union of two sets.

In [7]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

8. Create a code to find the common elements between two sets of integers.

In [8]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

set3 = set1.intersection(set2)
print(set3)

{4, 5}

9. Generate a new set with only the even numbers from the original set using Python code.

In [9]:
original_set = {1, 2, 3, 4, 5, 6, 7, 8}
even_set = []
for num in original_set:
    if num % 2 == 0:
        even_set.append(num)
print(set(even_set))

{8, 2, 4, 6}

10. Write a code to create a dictionary from two lists, one for keys and another for values.

In [10]:
keys = ["name", "age", "city"]
values = ["John", 30, "New York"]

dictt = {}
for key in keys:
    for value in values:
        dictt[key] = value
        values.remove(value)
        break
print(dictt)

{'name': 'John', 'age': 30, 'city': 'New York'}